@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');
ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  
  h2,
  h3,
  a {
      color: #34495e;
  }
  
  a {
      text-decoration: none;
  }
  
  
  
  .logo {
      margin: 0;
      font-size: 1.45em;
  }
  
  .main-nav {
      margin-top: 5px;
  
  }
  .logo a,
  .main-nav a {
      padding: 10px 15px;
      text-transform: uppercase;
      text-align: center;
      display: block;
  }
  
  .main-nav a {
      color: #34495e;
      font-size: .99em;
  }
  
  .main-nav a:hover {
      color: #718daa;
  }
  
  
  
  .header {
      padding-top: .5em;
      padding-bottom: .5em;
      border: 1px solid #a2a2a2;
      background-color: #f4f4f4;
      -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
      box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
  }
  
  @media (min-width: 769px) {
      .header,
      .main-nav {
          display: flex;
      }
      .header {
          flex-direction: column;
          align-items: center;
          .header{
          width: 80%;
          margin: 0 auto;
          max-width: 1150px;
      }
      }
  
  }
  
  @media (min-width: 1025px) {
      .header {
          flex-direction: row;
          justify-content: space-between;
      }
  
  }
  
  *{
      margin:0px;
      padding:0px;
      box-sizing: border-box;
      font-family: 'Poppins', sans-serif;
  }
  .section{
      width: 100%;
      min-height: 100vh;
      background-color: #ddd;
  }
  .container{
      width: 80%;
      display: block;
      margin:auto;
      padding-top: 100px;
  }
  .content-section{
      float: left;
      width: 55%;
  }
  .image-section{
      float: right;
      width: 40%;
  }
  .image-section img{
      width: 100%;
      height: auto;
  }
  .content-section .title{
      text-transform: uppercase;
      font-size: 28px;
  }
  .content-section .content h3{
      margin-top: 20px;
      color:#5d5d5d;
      font-size: 21px;
  }
  .content-section .content p{
      margin-top: 10px;
      font-family: sans-serif;
      font-size: 18px;
      line-height: 1.5;
  }
  .content-section .content .button{
      margin-top: 30px;
  }
  .content-section .content .button a{
      background-color: #3d3d3d;
      padding:12px 40px;
      text-decoration: none;
      color:#fff;
      font-size: 25px;
      letter-spacing: 1.5px;
  }
  .content-section .content .button a:hover{
      background-color: #a52a2a;
      color:#fff;
  }
  .content-section .social{
      margin: 40px 40px;
  }
  .content-section .social i{
      color:#a52a2a;
      font-size: 30px;
      padding:0px 10px;
  }
  .content-section .social i:hover{
      color:#3d3d3d;
  }
  @media screen and (max-width: 768px){
      .container{
      width: 80%;
      display: block;
      margin:auto;
      padding-top:50px;
  }
  .content-section{
      float:none;
      width:100%;
      display: block;
      margin:auto;
  }
  .image-section{
      float:none;
      width:100%;
      
  }
  .image-section img{
      width: 100%;
      height: auto;
      display: block;
      margin:auto;
  }
  .content-section .title{
      text-align: center;
      font-size: 19px;
  }
  .content-section .content .button{
      text-align: center;
  }
  .content-section .content .button a{
      padding:9px 30px;
  }
  .content-section .social{
      text-align: center;
  }
  
  }
  